

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* min-height: 100vh; */
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  /* flex-grow: 1; */
}

.theme{
  transition: 1s all ease;
}

.light{
  background-color: white;
  color: #111;
}
.dark{
  background-color: #111;
  /* color: #111; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.delete{
  padding: 0.1rem 0.7rem;
  background-color: crimson;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  color: white;
  /* font-weight: bold; */
  /* font-size: 1.2rem; */
}
.edit{
  padding: 0.1rem 0.7rem;
  background-color: rgb(0, 17, 255);
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  color: white;
  /* font-weight: bold; */
  /* font-size: 1.2rem; */
}
.button{
  padding: 0.3rem 0.7rem;
  background-color: teal;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
}

h1{
  background: linear-gradient(to bottom, #194c33, grey);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

.save{
  border: none;
  padding: 0.5rem 0.7rem;
  color: aliceblue;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}

.save:nth-child(1){
  background-color: crimson;
}
.save:nth-child(2){
  background-color: teal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
